body {
    font-family: sans-serif;
    background-color: white;
    margin: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.page1body{
        margin: 0 auto;
        padding:30px;
        color: black;
    }
.button{ 
    margin:5px;
    padding:5px;
    background:#000000;
    color:white;
    text-align:center;
}
.inputname{
    margin:5px;
    padding:7px;
    font-weight:bold;
    color:#000000;
}
.page1body{
 margin:20px;   
 padding:7px;    
 text-align:center;    
}