body {
    font-family: sans-serif;
    background-color: white;
    margin: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.page1body{
        margin: 0 auto;
        padding:30px;
        color: black;
    }
.toolbar{  
    height:20px;
    position:fixed;
    border:1px;
    margin:auto;
    width:100%;
}